                /* Глобальные настройки */
html {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
:root {
    --Apricot: #FFD6AF;
    --Slik: #E7CDBD;
    --Almond-Slik: #E1BFB1;
    --Espresso: #4A2422;
    --Plum: #823174;
    --Plum-Glass: #8231744D;
    --Blush-Glass: #D7AA9E65;
}
*, *::before, *::after {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
[hidden] { display: none !important; }
body, button {
    color: var(--Espresso);
    font-family: "Days One", sans-serif;
}
body {
    height: 100%;
    background-color: var(--Slik);
}
button {
    background: transparent;
    border: none;
    -webkit-touch-callout: none;
    padding: 0 0;
}
a, img { display: block; }
a:active, button:active { transform: scale(0.85); }
sub { color: var(--Plum); font-weight: 100; font-style: italic; font-size: 1rem; }




                /* Фиксировання шапка с логотипом и меняющимися иконками мессенджеров */
#top-header {
    height: 50px; 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--Apricot);
    box-shadow: 0 0 10px var(--Espresso);
    z-index: 1000;
}
#logo { width: 160px; height: 48px; }
#contacts-window {
    position: absolute;
    top: 0;
    right: 10px;
    height: 50px;
    overflow-y: hidden;
}
#contacts {
    width: 36px;
    height: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    animation: contacts-change 8s linear infinite;
}
.contact-icon { width: 36px; height: 36px; margin: 7px 0; display: block; }
.icon-space { width: 36px; height: 25px;}
@keyframes contacts-change {
        0% { transform: translateY(0); }
        2.5% { transform: translateY(-25px); }
        32.5% { transform: translateY(-25px); }
        35% { transform: translateY(-75px); }
        65% { transform: translateY(-75px); }
        67.5% { transform: translateY(-125px); }
        97.5% { transform: translateY(-125px); }
        100% { transform: translateY(-175px); }
    }


                /* Нижняя фиксировання панель навигации с тремя кнопками */
#nav-bar, .nav-marker,  #order-btn-box {
    box-shadow: 0 0 10px var(--Espresso);
    border-radius: 2rem;
    z-index: 1000;
}
#nav-bar, #order-btn-box {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    width: 80%;
    max-width: 20rem;
    height: 4rem;
    background: radial-gradient(ellipse, var(--Apricot), var(--Plum-Glass));
    backdrop-filter: blur(3px);
    transition: 0.2s;
}
.nav-btn, .nav-marker { height: 100%; }
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.nav-icon { width: 3rem; }
.nav-marker {
    position: absolute;
    top: 0;
    width: 36%;
    background: radial-gradient(circle at 50% 40%, transparent, var(--Plum-Glass));
    transition: 0.3s;
    left: 32%;
}
#order-btn-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#order-btn-hide img { width: 1rem; }
#order-btn { font-size: 1.6rem; }
#order-btn span { font-size: 1.2rem; }
.nav-btn:nth-child(2), #order-btn { animation: for-order-btn 1.5s infinite}
@keyframes for-order-btn {
    0% { color: var(--Espresso)}
    50% { color: var(--Plum); transform: scale(1.05); }
    100% { color: var(--Espresso)}
}




                /* Три основных контейнера, в которых будет весь контент */
.page {
    height: 100%;
    padding: 5rem 0.5rem 9rem;
    max-width: 30rem;
    margin: 0 auto;
}


                /* Контейнер для заказа продукта */
.product-box, .lonely-product-box { margin: 2rem 0}
.product-quantity-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - 0.5rem);
    text-align: center;
    background: linear-gradient(var(--Almond-Slik), var(--Plum-Glass));
    border-radius: 0 3rem 1rem 3rem;
    margin-top: -5px;
    margin-right: 0.5rem;
    border: solid 3px var(--Espresso);
    box-shadow: 2px 2px 7px var(--Espresso);
}


                /* Селектор типа продукта */
.product-type-selector {
    display: inline-flex;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}
.selector-btn {
    width: 5rem;
    height: 2.5rem;
}
.selector-btn img {
    position: relative;
    height: 100%;
    transform: rotate(45deg) scale(1.1);
    margin: auto;
    opacity: 0.8;
    z-index: 1;
}
.active-selector {
    background-color: var(--Almond-Slik);
    border: 3px solid var(--Espresso);
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    transform: translateY(3px);
}
.active-selector:active { transform: scale(1) translateY(3px); }
.lonely-product-box .product-quantity-box { margin-top: 0.1rem;}


                /* Бокс для изменения количества */
.btns-img-box {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}
.delete-box {
    width: 25%;
    margin-right: auto;
}
.return-icon { width: 25%; margin-left: 1rem;}
.product-img { width: 40%; }
.increment-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.q-btn { 
    width: 60%;
    background: radial-gradient(ellipse, transparent, var(--Plum-Glass));
    padding: 0.4rem 0;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    box-shadow: 1px 1px 5px var(--Plum);
}




                /* Дисплей с результатами */
.display-box {
    width: 90%;
    margin: 0.3rem;
}
.quantity {
    display: flex;
    justify-content: space-between;
    background-color: var(--Slik);
    font-size: 0.8rem;
    margin: 3px;
    padding: 0 5px;
    border-radius: 0.2rem 0.6rem;
}
.product-name { font-size: 1rem; }
.quantity-value { font-size: 1.5rem; }
.hide {
    opacity: 0.4;
    transform: scale(0.97)
}


                /* Первый контейнер с информацией о компании */
#contacts-cntnr {
    display: flex;
    justify-content: space-evenly;
}
#info-page h2 {
    margin-top: 20px;
}